
* {
	margin: 0;
	padding: 0;
}

* body{
  background: #FFFFFF;
  color: #000000; 
  font-family: 'Helvetica', Arial, sans-serif;
  font-weight: normal;
  text-align: left;
}

body,
html {
	height:100%;
}

table  {font-family: Arial; 
	   font-size: 16pt; 
		padding-top: 20px;
		padding-left: 350px;
		margin-bottom: 10px;
	}

td	{padding-left: 98px; 
}

.pricefont {
	font-family: Georgia italic;
	font-style: italic;
}

.menufont {font-family: Helvetica;

}

.bolditems {font-weight: bold;

}

.menu {font-family: Georgia italic;
	   padding-left: 350px; 
	   color:#9d8235;
	   font-style: italic;
	   font-size: 20pt;
	   padding-top: 45px;
}

.coffeemenu { float: left;
			  margin-left: 10px;
			  width: 700px;
			  padding-top:;
}

.sanwhichmenu {
			  float: right;
			  margin-left: 10px;
			  width: 700px;
			margin-bottom: 100px;

}

.secondlogobox {margin-top: 200px;
				border-top: 2px solid #9d8235;
				background-color: #f0f0f0;
				text-align: center;

}

.header {margin-bottom: 15px;
		 padding-top: 20px;
		 border-top: 5px solid #9d8235;
		 width: 100%;
		 text-align: center;
}		 

.navigation {
	margin: 10px auto;
	border-top: 1px solid rgba(157,130,53,.25);
	width: 45%;
	padding-top: px;
	padding-right: 650px;
	padding-left: 500px;
	padding-bottom: 10px;
	font-family: Georgia;
	font-size: 12pt;
} 

.logosection {
	margin: 5px auto;
	padding: 20px;
}






